---
title: Отправен възел
---
<div class="row" id="welcome">
  <div class="col-xs-2">
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Spiders_web.svg" id="spider-picture" alt="spider" />
  </div>
  <div class="col-xs-10">
    <p>
      Добре си дошъл приятелю паяк.<br>
      Радвам се, че си мой гост.<br>
      Избери си нишка по която да поемеш.
    </p>
  </div>
</div>
