<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-xxs.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    {% for stylesheet in page.stylesheets %}
      <link rel="stylesheet" href="{{ site.baseurl }}/{{ stylesheet }}">
    {% endfor %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
            <span class="glyphicon glyphicon-home"></span>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="{{ site.baseurl }}/blog.html">
                <span class="glyphicon glyphicon-blackboard"></span>
                Разсъждения
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-leaf"></span> Природа
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ site.baseurl }}/wild_plants.html">
                    <span class="glyphicon glyphicon-grain"></span>
                    Диви и ядливи
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}/springs.html">
                    <span class="glyphicon glyphicon-tint"></span>
                    Извори
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-book"></span> Речници
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ site.baseurl }}/dictionary_bulgarian_purity.html">
                    <span class="glyphicon glyphicon-tint"></span>
                    Чистота
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <!--
                <li>
                  <a href="{{ site.baseurl }}/">
                    <span class="glyphicon glyphicon-gift"></span>
                    Тайни
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}/">
                    <span class="glyphicon glyphicon-resize-horizontal"></span>
                    Симетрия
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                -->
                <li>
                  <a href="{{ site.baseurl }}/computer_metaphors.html">
                    <span class="glyphicon glyphicon-hdd"></span>
                    Компютърни метафори
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{ site.baseurl }}/movies.html">
                <span class="glyphicon glyphicon-film"></span>
                Любими филми
              </a>
            </li>
            <li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-education"></span>Математика
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{ site.baseurl }}/lernolibro">
                    <span class="glyphicon glyphicon-book"></span>
                    Сборници
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}/math/graph/math-graph.html">
                    <span class="glyphicon glyphicon-road"></span>
                    Граф
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="{{ site.baseurl }}/int-mat">
                    <span class="glyphicon glyphicon-grain"></span>
                    Взаимодействие
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ site.baseurl }}/contacts.html">
                <span class="glyphicon glyphicon-envelope"></span>
                Пиши ми
              </a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <div class="container">
      <div class="page-header">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="row">
        <div class="col-xxs-12">
          {{ content }}
        </div>
      </div>
      <hr>
      <footer>
        <p>В моя възел от мрежата ще намериш само свободно съдържание.</p>
        <p>
          Ползвай го безстрашно, но тръгни преди това по нишката му, оказана с табела <span class="glyphicon glyphicon-link"></span>, за да научиш заръките на създателя му.</p>
        </p>
        <p>Кода зад този възел можеш да видиш при огнената лисица
          <a href="https://gitlab.com/gnx/gnx.gitlab.io" aria-label="Кода зад възела ми">
            <img id="gitlab-logo" src="https://docs.gitlab.com/assets/images/gitlab-logo.svg" alt="gitlab logo">
          </a>
        </p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js">
    </script>
    {% for script in page.scripts %}
      <script type="text/javascript" src="{{ site.baseurl }}/{{ script }}">
      </script>
    {% endfor %}
  </body>
</html>
